@charset "Utf-8";
/*CSS初始化*/
html{
	color:#000;
	background:#FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0; /*上下空隙*/
	padding:0;/*左右空隙*/
}

table {
	border-collapse:collapse; /*表格沒有間距*/
	border-spacing:0; /*表格與表格空隙設置為0*/
}

fieldset,
img {
	border:0;
}
a{
	text-decoration:none; /*清除下滑線 underline顯示下滑線*/
}
em,
strong
b,
u,
i {
	font-style:normal;
	font-weight:normal;
}

ol,
ul
{
	list-style:none;
	margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
	font-size:100%;
	font-weight:normal;
}

input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%; /*to enable resizing for IE*/
}

img {
	border: 0 none;
}
