@charset "Utf-8";
body{
    background:white; /*url(Image28.jpg) fixed no-repeat;*/
    /*min-height:1000px; 解決圖片大小 小於視窗 而產生露白情形*/
    /*min-width:600px;*/
    /*background-size: cover; 依照瀏覽器自動收放圖片*/
}
#t1{
    background-image:url("th.jpg");
    background-repeat:no-repeat;/*避免圖片太小張重複*/
    background-attachment:fixed;/*背景圖固定*/
    border-right-style: groove ;
    border-color: cadetblue; 
    background-size: cover; 
    float: left;
    width:30%;
    height:1000px; 
    margin-left: 1%;
}
#t1_1{
    position:fixed; /*依照瀏覽業確定位置*/
    width:26%; 
    height:27%;
    margin-top: 35%;
    margin-left: 2%;
}
#t2{
    background:url('2017-12-03 12.14.52 (1).jpg');
    background-size: cover;
    position:fixed; /*依照瀏覽業確定位置*/
    width:16%;
    height:25%;
    margin-top:3%;
    margin-left:7.5%;
    border-radius:5%;
}
#t2_1{
    position:fixed;
    overflow:auto;/*增加卷軸功能*/
    list-style-type: none;
    background:rgb(111, 111, 204);
    width:15% ;
    height:20% ;
    margin-top:20.5%;
    margin-left:7.5%; 
    letter-spacing:2%;/*字體兼具*/
    border-radius:5%;/*圓角*/
}
#t3{
    background-image:url('1424858131_5d90b2615c26657eb3c34a9f8250fdc2.jpg');
    /*background-repeat:no-repeat;/*避免圖片太小張重複*/
    /*background-size: cover; /*圖片自動縮放*/
    /*background-attachment:scroll; 背景圖隨滾輪滑動*/
    /*background-position:left;  控制圖片背景位置*/
    float: left; 
    border-bottom-style: groove ;
    border-color: cadetblue;
    width:68%;
    height:50%;
}
table{
    font-size:0.9em;
    width: auto; 
    height:auto;
    margin: 0 auto;
    margin-top:4%;
    margin-bottom:5%;
}

ul.drop-down-menu {
    border: #ccc 0px solid;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 0.9em;
    margin-top:5%;
    
}
ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
    border-right: #ccc 0px solid;
    
}
ul.drop-down-menu > li:last-child {
    border-right: none;
}
ul.drop-down-menu > li {
    float: left; /* 只有第一層是靠左對齊*/
}
 ul.drop-down-menu a {
    background-color: #fff;
    color: #333;
    display: block;
    padding: 0 1em;
    text-decoration: none;
    line-height: 300%;
    border-radius:70%;
}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
    background-color: #ef5c28;
    color: #fff;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
    background-color: #ef5c28;
    color: #fff;
}
ul.drop-down-menu ul {
    border: #ccc 0px solid;
    position: absolute; /*絕對位置*/
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: auto;   
}
ul.drop-down-menu ul li {
    border-bottom: #ccc 0px solid;
}
ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}
ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
    z-index: 999;
    top: 10px;
    left: 90%;
}
ul.drop-down-menu ul { /*隱藏次選單*/
    display: none;
}
ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
    display: block;
}
caption{
    font-size:1.3em;
}
h1{
    font-size:1.3em;
    font-weight:bold;
}

#t2_1>li{
    margin-left:10%;
    margin-top:1%;
}
p{
    margin-left:9%;
    font-size:1em;
}
.font_1{
    font-weight: bold;
    letter-spacing:3px; 
    line-height: 30px;
}
#form1{
    margin: 0 auto;
    margin-top:5px; 
    width: 800px;
    height:600px;
    background-color:rgb(18, 227, 235);
    padding-top:155px ;
    border: teal solid 2px;
}
#leg{
    padding-top:15px;

}
.font_2{
    font-weight: bold;   
    letter-spacing:7.5px; 
    line-height: 30px;
}
.font_3{
    font-weight: bold;
    
    letter-spacing:14px; 
    line-height: 30px;
}
.font_4{
    font-weight: bold;  
    letter-spacing:14px; 
    line-height: 30px;
    margin-left: -150px; 
}
#c{ 
    color: red;
}